# **Guía 2**

Objetivo: aplicar los conceptos de Pandas en la manipulación y análisis de datos estructurados. Se trabajará con Series y DataFrames, aplicando técnicas de acceso, selección, filtrado y agregación de datos.

### **Caso de Negocio: Análisis de Deserción de Clientes en una Empresa de Telecomunicaciones**

**Contexto**

En la industria de las telecomunicaciones, la retención de clientes es un factor crítico para la sostenibilidad del negocio. La competencia es feroz y adquirir nuevos clientes suele ser más costoso que mantener a los actuales. En este análisis, exploraremos un conjunto de datos que contiene información detallada sobre clientes que han abandonado el servicio (churn) y aquellos que permanecen activos.

Nuestro objetivo es identificar los factores clave que influyen en la deserción, comprender patrones de comportamiento y generar estrategias efectivas para reducir la tasa de abandono.

La empresa ha experimentado un aumento en la tasa de deserción de clientes, lo que ha provocado:
- Pérdida de ingresos recurrentes.
- Incremento en los costos de adquisición de nuevos clientes.
- Menor estabilidad en la base de clientes a largo plazo.

Para abordar esta problemática, es crucial identificar las razones detrás de la deserción y desarrollar estrategias para mejorar la retención de clientes.

**Entrega del Trabajo**

Los estudiantes deben trabajar en grupos de entre 2 y 4 personas. Cada grupo deberá subir su trabajo a un repositorio de GitHub, asegurándose de que el código y los archivos necesarios estén bien organizados y documentados. Posteriormente, deberán enviar el enlace del repositorio en la plataforma Canvas para su evaluación.

Instrucciones para la entrega:

Crear un repositorio en GitHub con un nombre descriptivo para el proyecto.

Subir el código en Jupyter Notebook (.ipynb) o en formato Python (.py).

Incluir un archivo README.md con una breve descripción del trabajo y las instrucciones de ejecución.

Compartir el enlace del repositorio en Canvas dentro del plazo establecido.

**Descripción de las variables del dataset telecom_churn**

El dataset telecom_churn contiene información detallada sobre clientes de una empresa de telecomunicaciones, incluyendo datos generales, planes contratados, uso del servicio telefónico y llamadas al servicio al cliente. Su propósito principal es analizar patrones de deserción de clientes, identificados a través de la variable churn, que indica si un cliente ha abandonado la empresa (1) o sigue siendo cliente (0).

Dentro del dataset, encontramos información general como el estado (state) donde reside el cliente, el código de área (area code), y el número de teléfono (phone number), aunque esta última variable no aporta información útil para el análisis, ya que es un identificador único.

Además, el dataset registra el tiempo que un cliente ha estado en la empresa a través de la variable account length, lo que puede ayudar a analizar si la duración del contrato influye en la deserción. También se incluyen detalles sobre los planes contratados, como si el cliente tiene un plan internacional (international plan), que le permite realizar llamadas internacionales, o un buzón de voz (voice mail plan), que le permite recibir mensajes de voz.

En cuanto al uso del servicio, se registran datos detallados sobre el tiempo en llamadas y los costos asociados. Se divide en tres períodos del día: diurno (total day minutes, total day calls, total day charge), vespertino (total eve minutes, total eve calls, total eve charge) y nocturno (total night minutes, total night calls, total night charge), lo que permite evaluar si hay patrones de consumo que influyen en la deserción. También se incluye información sobre el uso del servicio internacional, con variables como total intl minutes (minutos en llamadas internacionales), total intl calls (cantidad de llamadas internacionales) y total intl charge (costos por llamadas internacionales).

Otro aspecto clave del dataset es el número de llamadas al servicio al cliente (customer service calls), ya que una mayor cantidad de llamadas puede indicar insatisfacción y estar relacionada con la decisión del cliente de abandonar la empresa.

Finalmente, la variable más importante del análisis es churn, que indica si un cliente ha desertado de la empresa. A partir de esta variable, podemos analizar qué factores influyen en la deserción y encontrar patrones en los clientes que tienen mayor probabilidad de abandonar el servicio.

**Exploración y Limpieza de Datos**

Cargar y explorar el dataset

Importa Pandas y carga el dataset telecom_churn.csv en un DataFrame.

Muestra las primeras 5 filas del DataFrame.

Verifica cuántas filas y columnas tiene el dataset.

Muestra información general del dataset, incluyendo los tipos de datos.

Identifica si hay valores nulos en alguna columna.

In [ ]:
# Solución propuesta

In [1]:
import pandas as pd
r = "C:/Users/jmanu/Documents/Maestria_Programacion_para_ciencia_datos/telecom_churn.csv"
df = pd.read_csv(r)

In [3]:
df.head(5)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [19]:
print(f'El dataframe tiene {df.shape[0]} filas x {df.shape[1]} columnas')

El dataframe tiene 3333 filas x 21 columnas

In [31]:
print('Tipos de datos que se encuentran en el dataframe')
df.info()

Tipos de datos que se encuentran en el dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [29]:
print('Estadisticas basicas del dataframe')
df.describe()

Estadisticas basicas del dataframe

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [39]:
print('Valores faltantes por cada columna:')
print(df.isnull().sum())

Valores faltantes por cada columna:
state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

**Análisis de Churn y Factores Relacionados**

Calcula el porcentaje de clientes que han desertado (churn = 1).

Identifica si los clientes con plan internacional (international plan) tienen mayor tasa de deserción.

Identifica si los clientes con buzón de voz (voice mail plan) tienen menor tasa de deserción.

In [ ]:
# Solución propuesta

In [333]:
x = df['churn'].value_counts(normalize = True)*100
print(x)
print(f'\nEl porcentaje de clientes que han desertado es: {x.iloc[1].round(2)}%')

churn
False    85.508551
True     14.491449
Name: proportion, dtype: float64

El porcentaje de clientes que han desertado es: 14.49%

In [267]:
international_plan = df.groupby('international plan')['churn'].value_counts(normalize = True)*100
print(international_plan)
print(f'\nLa tasa de desercion de clientes con plan internacional es {international_plan.iloc[3].round(2)}%')

international plan  churn
no                  False    88.504983
                    True     11.495017
yes                 False    57.585139
                    True     42.414861
Name: proportion, dtype: float64

La tasa de desercion de clientes con plan internacional es 42.41%

In [269]:
voice_mail_plan = df.groupby('voice mail plan')['churn'].value_counts(normalize = True) * 100
print(voice_mail_plan)
print(f'\nLa tasa de desercion de clientes con buzon de voz es {voice_mail_plan.iloc[3].round(2)}%')

voice mail plan  churn
no               False    83.284944
                 True     16.715056
yes              False    91.323210
                 True      8.676790
Name: proportion, dtype: float64

La tasa de desercion de clientes con buzon de voz es 8.68%

**Análisis de la Duración del Servicio y Deserción**

¿Cuál es la duración promedio de la cuenta (account length) entre clientes que desertaron y los que permanecen?

¿Los clientes con cuentas más antiguas tienen más probabilidades de desertar?

In [ ]:
# Solución propuesta

In [201]:
account_length = df.groupby('churn')['account length'].mean()
print(account_length)
print(f'\nEl promedio  de cuenta para los clientes que permanecen es de {account_length.iloc[0].round(2)}')
print(f'El promedio  de cuenta para los clientes que desertaron fue de {account_length.iloc[1].round(2)}')

churn
False    100.793684
True     102.664596
Name: account length, dtype: float64

El promedio  de cuenta para los clientes que permanecen es de 100.79
El promedio  de cuenta para los clientes que desertaron fue de 102.66

**Relación entre Deserción y Uso del Servicio**

Compara la cantidad de minutos usados en llamadas diurnas (total day minutes) entre clientes con y sin churn.

Compara la cantidad de minutos usados en llamadas nocturnas (total night minutes).

Compara el número total de llamadas (total day calls) entre clientes con y sin churn.

In [ ]:
# Solución propuesta

In [231]:
total_day_minutes = df.groupby('churn')['total day minutes'].sum()
print(total_day_minutes)
print(f'\nlos clientes que no desertaron usaron un total de {total_day_minutes.iloc[0]} minutos en llamadas diurnas')
print(f'los clientes que desertaron usaron un total de {total_day_minutes.iloc[1]} minutos en llamadas diurnas')

churn
False    499250.9
True      99939.5
Name: total day minutes, dtype: float64

los clientes que no desetaron usaron un total de 499250.9 minutos en llamadas diurnas
los clientes que desetaron usaron un total de 99939.5 minutos en llamadas diurnas

In [235]:
total_night_minutes = df.groupby('churn')['total night minutes'].sum()
print(total_night_minutes)
print(f'\nlos clientes que no desertaron usaron un total de {total_night_minutes.iloc[0]} minutos en llamadas nocturnas')
print(f'los clientes que desertaron usaron un total de {total_night_minutes.iloc[1]} minutos en llamadas nocturnas')

churn
False    570379.6
True      99126.9
Name: total night minutes, dtype: float64

los clientes que no desertaron usaron un total de 570379.6 minutos en llamadas nocturnas
los clientes que desetaron usaron un total de 99126.9 minutos en llamadas nocturnas

In [263]:
total_day_calls =df.groupby('churn')['total day calls'].sum()
print(total_day_calls)
print(f'\nlos clientes que no desertaron realizacion un total {total_day_calls.iloc[0]} llamadas')
print(f'los clientes que desertaron usaron un un total {total_day_calls.iloc[1]} llamadas')

churn
False    285807
True      48945
Name: total day calls, dtype: int64

los clientes que no desertaron realizacion un total 285807 llamadas
los clientes que desertaron usaron un un total 48945 llamadas

**Impacto de las Llamadas al Servicio al Cliente en la Deserción**

Calcula el número promedio de llamadas al servicio al cliente (customer service calls) entre clientes que desertaron y los que no.

Divide los clientes en dos grupos:

- Grupo 1: Clientes que llamaron más de 3 veces al servicio al cliente.
- Grupo 2: Clientes que llamaron 3 veces o menos.
Compara la tasa de churn entre ambos grupos.

In [ ]:
# Solución propuesta

In [265]:
customer_service_calls = df.groupby('churn')['customer service calls'].mean()
print(customer_service_calls)
print(f'\nEl promedio de llamadas realizadas al servicio al cliente por clientes que no desertaron fue de {customer_service_calls.iloc[0].round(2)} llamadas')
print(f'El promedio de llamadas realizadas al servicio al cliente por clientes que desertaron fue de {customer_service_calls.iloc[1].round(2)} llamadas')

churn
False    1.449825
True     2.229814
Name: customer service calls, dtype: float64

El promedio de llamadas realizadas al servicio al cliente por clientes que no desertaron fue de 1.45 llamadas
El promedio de llamadas realizadas al servicio al cliente por clientes que desertaron fue de 2.23 llamadas

In [275]:
grupo_1 = df[df['customer service calls']>3].copy()
grupo_2 = df[df['customer service calls']<= 3].copy()

In [307]:
churn_grupo_1 = grupo_1['churn'].value_counts(normalize = True)*100
print('Desercion grupo 1',churn_grupo_1)
churn_grupo_2 = grupo_2['churn'].value_counts(normalize = True)*100
print('\nDesercion grupo 2',churn_grupo_2)
print(f'\nla tasa de desercion de clientes que llamo mas de 3 veces es de {churn_grupo_1.iloc[0].round(2)}%')
print(f'la tasa de desercion de clientes que llamo menos de 3 veces es de {churn_grupo_2.iloc[1].round(2)}%')

Desercion grupo 1 churn
True     51.685393
False    48.314607
Name: proportion, dtype: float64

Desercion grupo 2 churn
False    88.747554
True     11.252446
Name: proportion, dtype: float64

la tasa de desercion de clientes que llamo mas de 3 veces es de 51.69%
la tasa de desercion de clientes que llamo menos de 3 veces es de 11.25%

**Análisis del Costo de las Llamadas y Churn**

Compara el costo total de llamadas diurnas (total day charge) entre clientes con y sin churn.

Compara el costo total de llamadas nocturnas (total night charge).

¿Los clientes con mayor gasto en llamadas internacionales (total intl charge) tienen más probabilidades de desertar?

In [ ]:
# Solución propuesta

In [327]:
total_day_charge = df.groupby('churn')['total day charge'].sum()
print(total_day_charge)
print(f'\nEl costo total de llamadas diurnas para clientes que no desertaron fue de {total_day_charge.iloc[0]}')
print(f'El costo total de llamadas diurnas para clientes que desertaron fue de {total_day_charge.iloc[1]}')

churn
False    84874.20
True     16989.97
Name: total day charge, dtype: float64

El costo total de llamadas diurnas para clientes que no desertaron fue de 84874.2
El costo total de llamadas diurnas para clientes que desertaron fue de 16989.97

In [329]:
total_night_charge = df.groupby('churn')['total night charge'].sum()
print(total_night_charge)
print(f'\nEl costo total de llamadas nocturnas para clientes que no desertaron fue de {total_night_charge.iloc[0]}')
print(f'El costo total de llamadas nocturnas para clientes que desertaron fue de {total_night_charge.iloc[1]}')

churn
False    25667.31
True      4460.76
Name: total night charge, dtype: float64

El costo total de llamadas nocturnas para clientes que no desertaron fue de 25667.31
El costo total de llamadas nocturnas para clientes que desertaron fue de 4460.76